modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Backend"

[[workflows.workflow]]
name = "Run"
author = 40303879

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Backend"
author = 40303879

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run Frontend"
author = 40303879

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 3004
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80
